appdirs==1.4.3
attrs==19.3.0
backports.csv==1.0.7
beautifulsoup4==4.8.2
black==19.10b0
blis==0.2.4
boto==2.49.0
boto3==1.11.5
botocore==1.14.5
cachetools==4.0.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cheroot==8.2.1
CherryPy==18.5.0
cld2-cffi==0.1.4
Click==7.0
cymem==2.0.3
cytoolz==0.10.1
datasketch==1.4.11
decorator==4.4.1
docutils==0.15.2
feedparser==5.2.1
future==0.18.2
gensim==3.8.1
idna==2.8
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.0
jaraco.text==3.2.0
jellyfish==0.6.1
jmespath==0.9.4
joblib==0.14.1
jsonschema==2.6.0
lxml==4.3.2
more-itertools==8.1.0
msgpack==0.6.2
murmurhash==1.0.2
networkx==2.4
nltk==3.4.5
numpy==1.16.6
pathspec==0.7.0
pdfminer.six==20200104
plac==0.9.6
portend==2.6
preshed==2.0.1
pycparser==2.19
pycryptodome==3.9.4
pyemd==0.5.1
Pyphen==0.9.5
python-dateutil==2.8.1
python-docx==0.8.10
pytz==2019.3
redis==3.2.1
regex==2020.1.8
requests==2.22.0
s3transfer==0.3.1
scikit-learn==0.20.4
scipy==1.4.1
six==1.14.0
smart-open==1.9.0
sortedcontainers==2.1.0
soupsieve==1.9.5
spacy==2.1.9
srsly==2.0.0
tempora==2.1.0
textacy==0.8.0
textpipe==0.11.6
textpipe-pattern==3.6.1
thinc==7.0.8
toml==0.10.0
toolz==0.10.0
tqdm==4.32.2
typed-ast==1.4.1
urllib3==1.25.7
wasabi==0.6.0
zc.lockfile==2.0
